:root {
  font-family: "Arial", "Helvetica", sans-serif;
  background: transparent;
  color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: transparent;
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

#root {
  width: 100vw;
  height: 100vh;
}

.scene {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

canvas {
  display: block;
  image-rendering: pixelated;
}
